.App{
  background-color: rgb(226, 226, 226);
  /* min-width: 100vw;
  min-height: 100vh; */
  margin: 0;
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap : 10px;
}

.tab-rapper{
  width: fit-content;
  height: fit-content;
  transition: right 1000mm;
}

.result_rapper{
  width: fit-content;
  height: fit-content;
}

.mutip{
  font-size: xx-small;
}

.input_form{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

@media all and (max-width:1050px){
  .input_form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .App{
    flex-direction: column;
    gap : 20px
  }
}

.tableLoding-rappeer{
  display : flex; 
  justify-content : center; 
  align-content : center
}